.cbp-fwslider {
	position: relative;
	margin: 0 0 40px 0;
	padding: 0px 0 10px;
	overflow: hidden;
	padding-top: 50px;
	border-top: 2px solid #36414a;
}

.cbp-fwslider ul {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	list-style-type: none;
}

.cbp-fwslider ul li {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	float: left;
	display: block;
	margin: 0;
	padding: 50px 0 25px 0;
	text-align: center;
}

.cbp-fwslider ul li > a,
.cbp-fwslider ul li > div {
	display: block;
	text-align: center;
	outline: none;

}


.cbp-fwslider ul li > a.prjct_img{
	pointer-events:none;
	cursor: default;
}



.cbp-fwslider ul li > a img {
	border: none;
	display: block;
	margin: 20px auto 0;
	max-width: 100%;
}



.cbp-fwslider nav span {
	position: absolute;
	top: 50%;
	width: 70px;
	height: 70px;
	color: #fff;
	text-align: center;
	margin-top: -50px;
	line-height: 100px;
	cursor: pointer;
	opacity: 0.5;
}

.cbp-fwslider nav span:hover {
	opacity: 1;
}

.cbp-fwslider nav span.cbp-fwnext {
	right: 20px;
	background: url(../img/right-arrow.svg) no-repeat;
}

.cbp-fwslider nav span.cbp-fwprev {
	left: 20px;
	background: url(../img/left-arrow.svg) no-repeat;
}

.cbp-fwdots {
	position: absolute;
	bottom: 0px;
	white-space: nowrap;
	text-align: center;
	width: 100%;
}

.cbp-fwdots span {
	display: inline-block;
  width: 7px;
  height: 7px;
  background: white;
  margin: 6px;
  border-radius: 50%;
  cursor: pointer;
	opacity: 0.7;
}

.cbp-fwdots span:hover {
	opacity:1;
}

.cbp-fwdots span.cbp-fwcurrent {
	background: #1ca998;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	-moz-transition: box-shadow 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out;
}
