#about.content-about
  .content-wrapper
    span.title About me
    
    p Maecenas ligula nunc, venenatis eu eros eget, aliquet eleifend ipsum. Donec volutpat ligula dolor, a varius nibh fermentum eu. 
    
    .skills-box
      .row
        .text
          span Tools
        .icons
          .icon
            span.icon-big Ps
          .icon
            span.icon-big Ai
      .row
        .text
          span Web languages
        .icons
          .icon
            span.icon-small Html
          .icon
            span.icon-small Css
          .icon
            span.icon-big JS
      .row
        .text
          span Frameworks
        .icons
          .icon
            span.icon-small Jade
          .icon
            span.icon-small Sass
          .icon
            span.icon-big B
          .icon
            span.icon-small Rwd
          .icon
            span.icon-small Jquery
    
