#about.content-about
  .content-wrapper
    .section-title
      span.title About me
  
    p Hi, I'm 25 years old and currently I live in Lebork, Poland. For months, i have been putting my first steps to become a UX/UI designer/front-end developer.
    
    h3 Web development & design
    
    p Many years of experience with Adobe Photoshop and Illustrator allows me to design any website. I can also perform illustrations (eg. flat design). For web development I'm using frameworks, eg. Jade, Sass.
    
    .skills-box
      .row
        .icons
          .icon
            span(title='Photoshop').icon-big Ps
          .icon
            span(title='Illustrator').icon-big Ai
          .icon
            span(title='Html').icon-small Html
          .icon
            span(title='Css').icon-small Css
          .icon
            span(title='Javascript').icon-big JS
