.header-content
  .mountains
  .small-mountain1
  .small-mountain2
  .box-wrapper
    .logo-nav-small
      a.logo(href='') rz
      .toggle
        span Menu
    .header-nav-small
      li
        a(href='#about') About me
      li
        a(href='#works') Projects
      li
        a(href='#contact') Contact
    
    .logo-nav
      a.logo(href='') rz
      .wrapper-nav
        .header-nav
          li
            a(href='#about') About me
          li
            a(href='#works') Projects
          li
            a(href='#contact') Contact

        .toggle
          span Menu
              

    .text-header(style='text-align: center; width: 1600px; margin: auto; text-transform: uppercase')
      
      span.span1-header Welcome to my 
      span.span2-header personal website!
      
    .button-header-box
      .button-box
        a.button-header(href='#about' data-hover='Know more') Learn more
      .button-box
        a.button-header2(href='mailto:robert.zygmuntowski@gmail.com' data-hover='Know more') Hire me!
          
          
